.post{
    width: 25rem;
    margin: 0 1.5rem 2.2rem 1.5rem;
}
.postImg{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postCat{
    font-family: 'Varela', sans-serif;
    font-size: 0.9rem;
    color: #be9656;
    line-height: 1.2rem;
    margin-top: 1rem;
    margin-right: 0.8rem;
    cursor: pointer;
    text-transform: capitalize;
}
.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
}
.postDate{
    font-family: 'Lora', serif;
    font-size: 0.8rem;
    color: #999;
    margin-top: 1rem;
}
.postDesc{
    font-family: 'Varela', sans-serif;
    font-size: 0.9rem;
    color: #444;
    line-height: 1.5rem;
    margin-top: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
